*{
    margin:0;
    background-color: black;
    box-sizing: border-box;
}
body{
font-family: 'Lato', sans-serif;
}
.navbar{
    width:100%;
    height:100px;
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
}
.navbar-container{
    display: flex;
    align-items: center;
    height: 100%;
    padding:0 20px;
}
.logo-container{
    display: inline-block;
    flex:1;
}
.logo-container img:hover{
    transform: scale(1.15);
    transition: all 1s ease-in-out;
    cursor:pointer;
}
#logo{
    width:70%;
    height: 70%;
    object-fit: cover;
}
.menu-container{
    flex:6;
    color:white;
    width:60%;
    box-shadow: 3px 3px 3px gray;
}
.menu-list{
    display: flex;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
.menu-list-items{
    float: right;
    margin:18px;
    color:white;
    align-items: center;    
    padding: 10px 0px;
}
.menu-list-items.active{
font-weight: bold;
background-color: black;
color:white;
display:flex;

font-family: 'Lato', sans-serif;
}
.menu-list-items:hover{
    font-weight: bold;
    cursor:pointer;
}

.toggle{
    width:40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    display:flex;
    position:relative;
}
.toggle-icon{
    color:goldenrod;
}
.toggle-ball{
    width:18px;
    height: 18px;
    background-color: black;
    position:absolute;
    right: 1px;
    border-radius: 50px;
    cursor: pointer;
}
.container{
   min-height: calc(100vh-50px);
   background-color: black;
}
.content-container{
    color:black;
}

.trav-list-container{
    padding:20px; 
}
.trav-list-title{
    color:red;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
.trav-list-wrapper{
    position: relative;
}
.trav-list{
    display:flex;
    align-items: center;
    height: 350px;

}
.trav-list-items{
    margin-right: 15px; 
    position: relative;
}
.trav-list-items:hover .trav-list-item-img{
 transform: scale(1.15);
 margin:0 20px;
 opacity: 0.5;
}
.trav-list-items:hover .trav-list-item-title,
.trav-list-items:hover .trav-list-item-desc,
.trav-list-items:hover .trav-list-item-button{
opacity: 1;
}

.trav-list-item-img{
   transition: all 1s ease-in-out;
    width: 300px;
    height: 200px;
    object-fit: cover;
  
}
.trav-list-item-title{
    background-color:transparent;
    padding:0 10px;
    font-size:28px;
    font-weight:bolder;
    position: absolute;
    top:1%;
    left:10px;
    opacity:0;
    color:white;
}
.trav-list-item-desc{
    background-color:transparent;
    color:white;
    font-weight: bold;
    padding:10px;
    font-size:14px;
    position: absolute;
    top:30%;
    left:10px;
    width:290px;
    opacity:0;
}
.trav-list-item-button{
    background-color:#51d78d ;
    padding: 10px;
    color:black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    border:none;
    cursor:pointer;
    width:190px;
    position:absolute;
    bottom:20px;
    left:20px;
    opacity:0;
}
.arrow{
    font-size: 120px;
    position:absolute;
    top: 100px;
    color:lightgray;
   opacity:0.5;
   right:0;
    
}
.left-menu-icon{
    color:white;
    
    font-size: 20px;
}
@media   (max-width:1250px) {
    .trav-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 200px;
        row-gap: 40px;
        width:100%;
        height: 100%;
    }  
    .trav-list-title{
        margin-bottom:20px;
    }
    #logo{
        width:70%;
        height:70%;
        object-fit: cover;
    }
    .menu-list-items{
        margin: 15px;
    }
}
@media (max-width:1160px){
    .menu-list-items{
        margin: 13px;
    }

}
@media (max-width: 1050px){
    .menu-list-items{
        margin: 10px;
    }
}
@media   (max-width:1000px) {
    .trav-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 200px;
        row-gap: 40px;
        width:100%;
        height: 100%;
    }  
    .trav-list-title{
        margin-bottom:20px;
    }


}
@media   (max-width:750px) {
    .trav-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 200px;
        row-gap: 40px;
        width:100%;
        height: 100%;
    }  
    .trav-list-title{
        margin-bottom:20px;
    }
}
